.bg-thomas-cuisine {
  // background-image:  url("../../../assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/faq/thomas-cuisine.jpeg');
  height: 100vh;
}
