<div>
  <div class="w-full">
    <gallery id="headerGallery" autoPlay="true"></gallery>
    <div class="text-center overlap-header">
      <div class="content">
        <h1 class="text-opacity-90 font-bold">Graille</h1>
        <h2 class="text-gray-200 text-opacity-75 mt-8 text-12 lg:text-16">Cuisine ambulante anti-gaspi</h2>
        <h2 class="text-gray-200 text-opacity-75 text-12 lg:text-16">Pour la rue, Avec la rue, Dans la rue</h2>
      </div>
    </div>
  </div>

  <section class="container py-8 text-center">
    <h2 class="landing-title text-center">Graille c'est quoi ?</h2>
    <p class="pb-2 px-4 text-justify">
      Graille, c’est une équipe citoyenne faite de cuistot.es des quatre coins de Lyon. Nous organisons des cuisines
      mobiles et éphémères, on va de squat en camp, en passant par la rue. Les brigades sont constituées d’avec et de
      sans abris, menées par des chef.fes expérimenté.es, les repas préparés avec les invendus de nos supers
      partenaires, des commerçants locaux, solidaires et responsables.
    </p>
    <p class="pb-2 px-4 text-justify">
      responsables. Graille s'inscrit dans une démarche éco-responsable et solidaire. On collabore avec des enseignes
      zéro déchet, encourageant le vrac, les fruits et légumes issus d'une agriculture biologique ou responsable. On
      composte nos déchets, on se déplace autant que possible à vélo. C’est d’ailleurs en selle qu’à la fin des cuisines
      on part distribuer nos repas aux potos de la rue. On encourage le lien social, la rencontre, la diversité, le
      faire ensemble : que du love !
    </p>
    <p class="italic py-6">
      Nous sommes seulement à Lyon pour le moment, on attend que des supers citoyen.nes engagé.es le lancent dans
      d'autres villes, pays, planètes ! 🚀
    </p>
    <div>
      <button routerLink="/nos-valeurs" class="button m-4">Nos valeurs</button>
      <button routerLink="/deroule-de-la-cuisine" class="button m-4">Les cuisines</button>
      <button routerLink="/faq" class="button m-4">FAQ</button>
    </div>
  </section>

  <section class="container pb-8">
    <h2 class="landing-title">Graille en chiffres</h2>
    <div class="flex flex-col items-center lg:flex-row lg:justify-between m-auto">
      <div class="counter card w-full lg:w-1/4">
        <span>+ {{ countersConfig.numberOfMeal | number }}</span> <br />
        repas
      </div>

      <div class="counter card w-full lg:w-1/4">
        <span>+ {{ countersConfig.numberOfCooker | number }}</span> <br />
        cuisinier.ères
      </div>

      <div class="counter card w-full lg:w-1/4">
        <span>{{ countersConfig.quantityOfBioWaste | number }} Kg</span>
        <br />
        de bio-déchets compostés
      </div>
    </div>
  </section>

  <section class="container pb-8">
    <h2 class="landing-title text-12 lg:text-16">Tu veux soutenir une cause sociale et environnementale ?</h2>
    <div class="card">
      <div
        class="grid lg:grid-cols-4 lg:grid-rows-1 lg:divide-x lg:divide-y-0 grid-cols-1 grid-rows-4 divide-y divide-gray-400 divide-dashed"
      >
        <!-- Donner des invendus ******************************************************************************************************* -->
        <div class="text-center p-2 flex flex-col justify-between">
          <h3 class="uppercase pb-2 font-medium text-semibold text-12">Donner des invendus</h3>
          <div class="action-content">
            <p>Tu es professionnel.le de l'alimentation et tu as des invendus qui partent à la poubelle ?</p>
            <p>Rempli le formulaire et on arrive là où ça t'arrange !</p>
          </div>
          <a href="https://allan371132.typeform.com/to/ZOv3znQW" target="_blank">
            <button class="button">J'ai des invendus !</button>
          </a>
        </div>
        <!-- DON DE BOCAUX ************************************************************************************************************ -->
        <div class="text-center p-2 flex flex-col justify-between">
          <h3 class="uppercase pb-2 font-medium text-12">Faire un don de bocaux</h3>
          <div class="action-content">
            <p>
              Les repas préparés avec amour lors des cuisines sont ensuite mis en bocaux pour livrer aux bénéficiaires.
            </p>
          </div>
          <a href="https://allan371132.typeform.com/to/Fr3gbW25" target="_blank">
            <button class="button">Je donne mes bocaux !</button>
          </a>
        </div>
        <!-- Participer au cuisine ******************************************************************************************************* -->
        <div class="text-center p-2 flex flex-col justify-between">
          <h3 class="uppercase pb-2 font-medium text-semibold text-12">Participer au cuisine</h3>
          <div class="action-content">
            <p>
              Les sessions de cuisine sont ouvertes à tous.tes ! Petit.e comme grand.e, vous pouvez venir en famille !
            </p>
          </div>
          <a href="https://calendly.com/graille_lyon/cuisinerr?month=2020-11" target="_blank">
            <button class="button">Je m'inscris pour une cuisine</button>
          </a>
        </div>
        <!-- Participer au cuisine ******************************************************************************************************* -->
        <div class="text-center p-2 flex flex-col justify-between">
          <h3 class="uppercase pb-2 font-medium text-semibold text-12">Soutenir le mouvement</h3>
          <div class="action-content">
            <p>Graille a besoin de matériel pour cuisiner, celui-ci devant être entretenu.</p>
            <p>
              Fais un don <span class="italic text-8">(déductible à 75% des impôts)</span> et on t'envoie plus d'amour
              pour ton soutien!
            </p>
          </div>
          <a href="https://www.helloasso.com/associations/rise-homeless-giving/formulaires/3" target="_blank">
            <button class="button">Je fais un don !</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="container flex flex-col pb-8">
    <h2 class="landing-title">Et tout ça grâce au soutien et aux dons de nos partenaires !</h2>
    <app-partner-card></app-partner-card>
  </section>
</div>
