<div class="bg-gray-100">
  <div class="w-full object-cover header-bg table text-center">
    <div class="table-cell align-middle">
      <h1 class="text-opacity-90 font-bold mt-40">Graille</h1>
      <h2 class="text-gray-200 text-opacity-75">
        Cuisine ambulante anti-gaspi, végétarienne et solidaire au profit des sans abris
      </h2>
    </div>
  </div>
  <div class="container flex flex-col flex-grow">
    <section class="w-full p-4 flex flew-row">
      <div class="text-center">
        <h2 class="text-xl lg:text-2xl uppercase text-center pb-4 text-primary">Graille c'est quoi ?</h2>
        <p class="pb-2 px-4 text-justify text-center text-lg">
          Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus
          praemii de figmentis aereis sensu carentibus adepturi, quam ex conscientia honeste recteque factorum, easque
          auro curant inbracteari, quod Acilio Glabrioni delatum est primo, cum consiliis armisque regem superasset
          Antiochum. quam autem sit pulchrum exigua haec spernentem et minima ad ascensus verae gloriae tendere longos
          et arduos, ut memorat vates Ascraeus, Censorius Cato monstravit. qui interrogatus quam ob rem inter multos...
          statuam non haberet malo inquit ambigere bonos quam ob rem id non meruerim, quam quod est gravius cur
          inpetraverim mussitare.
        </p>
        <p class="pb-2 px-4 text-justify text-center text-lg">
          Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus
          praemii de figmentis aereis sensu carentibus adepturi, quam ex conscientia honeste recteque factorum, easque
          auro curant inbracteari, quod Acilio Glabrioni delatum est primo, cum consiliis armisque regem superasset
          Antiochum. quam autem sit
        </p>
        <div>
          <button
            routerLink="/nos-valeurs"
            class="bg-primary hover:bg-gray-200 hover:text-primary text-white text-lg font-bold m-4 py-2 px-4 rounded"
          >
            Nos valeurs
          </button>
          <button
            routerLink="/actualite"
            class="bg-primary hover:bg-gray-200 hover:text-primary text-white text-lg font-bold m-4 py-2 px-4 rounded"
          >
            L'actualité
          </button>
          <button
            routerLink="/faq"
            class="bg-primary hover:bg-gray-200 hover:text-primary text-white text-lg font-bold m-4 py-2 px-4 rounded"
          >
            FAQ
          </button>
        </div>
      </div>
    </section>

    <section class="px-2 py-4">
      <img class="m-auto" alt="graille en chiffre" src="assets/images/landing/chiffre.png" />
    </section>

    <section class="text-center mx-auto my-4 py-4 lg:w-3/5 w-full border border-primary rounded-lg shadow-lg">
      <h2 class="uppercase text-center pb-4 text-primary">Tu veux soutenir une cause sociale et environnementale ?</h2>
      <p class="text-center text-lg text-gray-600">Offrir des bocaux, participer aux cuisines ou faire un don ?</p>
      <a href="https://linktr.ee/graillelyon" target="_blank">
        <button
          class="bg-primary hover:bg-gray-200 hover:text-primary text-white text-lg font-bold my-4 py-2 px-4 rounded"
        >
          <i class="p-1 fas fa-hand-peace"></i>
          Je soutiens Graille !
          <i class="p-1 fas fa-hand-peace"></i>
        </button>
      </a>
      <p class="text-center text-lg text-gray-600">
        Graille a besoin de vous pour régaler les potos de la rue avec des repas sains et équilibrés
      </p>
    </section>

    <section class="flex flex-col m-auto p-2">
      <h2 class="text-xl uppercase text-center pb-4 text-primary">
        Et tout ça grâce au soutien et aux dons de nos partenaires !
      </h2>
      <app-partner-card></app-partner-card>
    </section>
  </div>
</div>
