.header-bg {
  // background-image:  url("../../../assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%),
    url('https://res.cloudinary.com/dk9kkvy1o/image/upload/v1598465842/GrailleLyon-15_ahvmgk.jpg');
  height: 50vh;
}

:host ::ng-deep .ngx-gallery-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%);
}

.overlap-header {
  position: absolute;
  left: 50%;
  z-index: 1000;
  top: 300px;

  .content {
    position: relative;
    left: -50%;
  }
}
