.menu {
  width: 100%;
  padding: 0px;
  min-height: 70px;

  @apply bg-gray-100;

  .icon {
    width: auto;
    height: 70px;
    margin-left: 15px;
  }

  .cta {
    @apply m-auto;
    width: fit-content;
  }
}
