<div class="menu bg-gray-100 flex justify-between border-b-2 border-primary">
  <img
    routerLink=""
    class="icon"
    src="assets/images/graille-logo/graille-transparent-with-text.png"
    alt="logo graille lyon"
  />
  <div class="flex flew-row items-center">
    <a
      routerLink=""
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >Qui sommes-nous ?</a
    >
    <a
      routerLink="nos-valeurs"
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >Nos valeurs</a
    >
    <a
      routerLink="actualite"
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >Actualités</a
    >
    <a
      routerLink="deroule-de-la-cuisine"
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >Les cuisines</a
    >
    <a
      routerLink="faq"
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >FAQ</a
    >
    <a
      href="https://linktr.ee/graillelyon"
      target="_blank"
      class="font-heading flex-col px-4 py-2 mt-2 font-semibold uppercase rounded-lg bg-transparent hover:text-gray-200 bg-primary"
      >Participer</a
    >
    <div class="mr-2">&nbsp;</div>
  </div>
</div>
