<div class="menu bg-gray-100 flex justify-between border-b-2 border-primary">
    <img routerLink="" class="icon" src="assets/images/graille-logo/graille-transparent-with-text.png"
        alt="logo graille lyon" />
    <div class="flex flew-row items-center">
        <a routerLink=""
            class="flex-col px-4 py-2 mt-2 text-sm font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200">Qui
            sommes
            nous ?</a>
        <a routerLink="nos-valeurs"
            class="flex-col px-4 py-2 mt-2 text-sm font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200">Nos
            valeurs</a>
        <a routerLink="actualite"
            class="flex-col px-4 py-2 mt-2 text-sm font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200">Actualités</a>
        <a routerLink="faq"
                class="flex-col px-4 py-2 mt-2 text-sm font-semibold uppercase rounded-lg bg-transparent hover:text-gray-900 hover:bg-gray-200">FAQ</a>
        <div class="mr-2">&nbsp;</div>
    </div>
</div>
