<!-- BLOCK with content left -->
<div class="flex flex-row w-full" *ngIf="direction==='left'">
    <!-- left col -->
    <div class="w-2/5 px-2 py-10">
        <div class="flex flex-col w-full rounded-lg shadow bg-white px-4 py-5">
            <div class="text-gray-600 mb-2 flex justify-between">
                <div class="font-bold">
                    <h3>{{title}}</h3>
                    <p class="text-sm text-gray-500">{{text}}</p>
                </div>
            </div>
            <div class="text-gray-600">
                <app-vimeo [vimeoId]="viemoId"></app-vimeo>
            </div>
        </div>

    </div>
    <!--line column-->
    <div class="w-1/5  flex justify-center">
        <div class="relative flex h-full w-1 bg-primary items-center justify-center">
            <div
                class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 border-primary leading-none text-center z-10 bg-white font-thin">
                <div>{{date}}</div>
            </div>
        </div>
    </div>
    <!--right column-->
    <div class="w-2/5 px-2 py-10 "></div>
</div>
<!-- END BLOCK with content left -->

<!-- BLOCK with content right -->
<div class="flex flex-row w-full" *ngIf="direction==='right'">
    <!-- left col -->
    <div class="w-2/5 px-2 py-10"></div>
    <!--line column-->
    <div class="w-1/5  flex justify-center">
        <div class="relative flex h-full w-1 bg-primary items-center justify-center">
            <div
                class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 border-primary leading-none text-center z-10 bg-white font-thin">
                <div>{{date}}</div>
            </div>
        </div>
    </div>
    <!--right column-->
    <div class="w-2/5 px-2 py-10 ">
        <div class="flex flex-col w-full rounded-lg shadow bg-white px-4 py-5">
            <div class="text-gray-600 mb-2 flex justify-between">
                <div class="font-bold">
                    <h3>{{title}}</h3>
                    <p class="text-sm text-gray-500">{{text}}</p>
                </div>
            </div>
            <app-vimeo [vimeoId]="viemoId"></app-vimeo>
        </div>
    </div>
</div>
<!-- END BLOCK with content right -->