.bg-thomas-cuisine {
  // background-image:  url("../../../assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/cuisine/cuisine-charly-thithi.jpg');
  height: 100vh;
}
