<div class="content-wrapper flex flex-row flex-grow">
  <div class="container content-wrapper w-1/2 overflow-auto flex flex-col flew-grow w-auto">
    <h1 class="uppercase text-center pt-4 text-primary">Déroulé de la cuisine</h1>
    <div class="card">
      <app-cuisine-card
        title="Inscription"
        description="Tu t’inscris ici : https://linktr.ee/graillelyon en cliquant sur Cuisiner avec Graille, en choisissant ta date. Tu reçois un SMS la veille pour te donner l’adresse où se déroulera la session de cuisine, ainsi qu’une invitation pour le groupe Whatsapp.
  "
      ></app-cuisine-card>

      <app-cuisine-card
        title="Organisation"
        description="Une fois que tu es sur la conversation Whatsapp de Graille, tu as accès au lien doodle où on se répartit les tâches : récupération d’invendus et/ou bocaux, installation de la cuisine, livraison des repas, lessive, compost, chef.fe de cuisine. Il n’y a pas forcément besoin d’être inscrit.e sur la cuisine du jour pour se proposer pour certaines de ces tâches!
  "
      ></app-cuisine-card>

      <app-cuisine-card
        title="La cuisine"
        description="Précédé d’un temps convivial autour d’un café, on envoie la sauce à 15h! Les chef.fes du jour annoncent le menu, ce qu’il faut couper en premier et autres instructions. Une fois la cuisson terminée, on transvase des casseroles aux bocaux qui mettent bien, estampillés de nos magnifiques étiquettes!
  "
      ></app-cuisine-card>

      <app-cuisine-card
        title="La livraison"
        description="Une fois les bocaux qui mettent bien remplis, les participant.es qui se sont inscrits pour la livraison prennent le relais, accompagné.es des riders de #PourEux si besoin. On sillonne la ville à vélo pour distribuer les repas, en plusieurs équipes si on est assez.
  "
      ></app-cuisine-card>
    </div>
  </div>
  <div class="h-full bg-thomas-cuisine lg:block lg:w-1/3 hidden rounded-r-sm">&nbsp;</div>
</div>
