.left-menu {
  @apply sticky;
  @apply bg-gray-100;
  @apply border-r-2 border-primary rounded-r-sm;

  top: 0;
  max-height: 100vh;
  min-height: 100vh;

  .link {
    width: max-content;
  }

  .icon {
    width: 22px;
  }

  .button-logout {
    position: sticky;
    top: 96.5vh;
  }
}
