<div class="flex flex-row">
  <div *ngIf="authService.isLoggedIn" class="left-menu bg-gray-100 border-r-2 border-primary">
    <div class="flex flex-col">
      <p class="text-center px-4 py-2 uppercase bg-transparent">Pages</p>
      <p
        routerLink="/admin/faq"
        class="cursor-pointer px-4 py-2 uppercase bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >
        <i class="icon fas fa-question"></i>
        FAQ
      </p>
      <p
        routerLink="/admin/partners"
        class="cursor-pointer px-4 py-2 uppercase bg-transparent hover:text-gray-900 hover:bg-gray-200"
      >
        <i class="icon fas fa-hands-helping"></i>
        Partenaires
      </p>
    </div>
    <p
      (click)="authService.logout()"
      class="button-logout cursor-pointer px-2 pb-2 uppercase bg-transparent hover:text-gray-900 hover:bg-gray-200"
    >
      <i class="fas fa-sign-out-alt"></i>
      Déconnexion
    </p>
  </div>

  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</div>
