@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: PlayfairDisplay;
  src: url(../assets/font/PlayfairDisplay-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply text-secondary;
  @apply bg-gray-100;
  height: 100%;
}

.body-wrapper {
  min-height: 80%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

h1 {
  @apply text-22 font-bold text-primary;
}

h2 {
  @apply text-18 font-medium;
}

h3 {
  @apply text-16;
}

p {
  @apply text-12;
}

.container {
  @apply mx-auto px-12 w-full max-w-screen-xl;
}

// utils ***********************

// used to see use fullscreen without footer
.border-image {
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  @apply rounded-r-sm;
  @apply sticky;
  @apply object-cover;
}

// baseline FROM ************************
.input-text {
  width: 100%;
  @apply shadow;
  @apply appearance-none;
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-gray-700;
  @apply leading-tight;

  &:focus {
    @apply outline-none;
    @apply shadow-outline;
  }
}

.input-label {
  @apply block;
  @apply text-gray-700;
  @apply font-bold;
  @apply mt-4;
  @apply mb-2;
}

// TOOLTIP **********************************
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: left;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

// CARD *************************
.card {
  @apply border-2 border-primary rounded shadow;
  @apply mx-4 my-4 px-8 py-4;
}

.button {
  @apply font-heading text-white font-bold;
  @apply my-4 py-2 px-4;
  @apply rounded;
  @apply bg-primary;
}

.button:hover {
  @apply bg-gray-200;
  @apply text-primary;
}
