@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply text-secondary;
  height: 100%;
}

.body-wrapper {
  min-height: 80%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  @apply text-18 font-bold text-primary;
}

h2 {
  @apply text-16 font-medium;
}

.container {
  @apply mx-auto px-12 w-full max-w-screen-xl;
}

// baseline FROM ************************
.input-text {
  width: 100%;
  @apply shadow;
  @apply appearance-none;
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-gray-700;
  @apply leading-tight;

  &:focus {
    @apply outline-none;
    @apply shadow-outline;
  }
}

.input-label {
  @apply block;
  @apply text-gray-700;
  @apply font-bold;
  @apply mt-4;
  @apply mb-2;
}

// TOOLTIP **********************************
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: left;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
