<div class="bg-gray-100">
    <h2 class="text-center pb-4 text-primary">Actualités</h2>

    <div class="flex justify-center">
        <div class="w-2/3 mx-auto">
            <app-vimeo-item direction="right" viemoId="464809303" date="04/10/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="462440386" date="27/09/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="right" viemoId="459970564" date="20/09/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="457541413" date="13/09/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="right" viemoId="455305063" date="06/09/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="453097571" date="30/08/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="right" viemoId="450886047" date="23/08/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="446271872" date="09/08/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="right" viemoId="442190027" date="26/07/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="439909555" date="19/07/2020" title="" text="">
            </app-vimeo-item>
            <app-vimeo-item direction="right" viemoId="438617212" date="12/07/2020" title="Deuxième cuisine"
                text="Un peu plus de matos mais encore plus d'énergie pour régaler les potos !">
            </app-vimeo-item>
            <app-vimeo-item direction="left" viemoId="438613789" date="28/06/2020" title="Première cuisine !" text="">
            </app-vimeo-item>
        </div>
    </div>
</div>

<!-- Do not remove ! Vimeo player -->
<script src="https://player.vimeo.com/api/player.js"></script>