<div class="bg-gray-100">
  <h2 class="text-center pb-4 text-primary">Actualités</h2>
  <div class="flex justify-center">
    <div class="w-2/3 mx-auto">
      <app-vimeo-item
        slug="merci-partenair"
        direction="right"
        viemoId="466972608"
        date="11/10/2020"
        title="Un grand merci à nos partenaires"
        text="
            C'est pas seulement des invendus qu'on vient chercher 🤷🏻‍♂️. <br/>
A la Source, Evelyne de day by day Lyon et tout nos autres partenaires qui suivent dans cette saga, tellement heureux de se réunir tous ensemble grâce à cette cause qui est la lutte contre la #précarité par #antigaspi par le #local ✊.<br/>"
      >
      </app-vimeo-item>

      <app-photo-item
        slug="miimosa-150p"
        direction="left"
        imagePath="miimosa-ecotable.jpeg"
        date="08/10/2020"
        title="🔥 100%... et pourquoi pas 150% ! 🔥"
        text="Cagnotte MiiMOSA : Nouvel Objectif 150% 🔥 !! <br/>
On a fait péter la cagnotte pour le financement du label Écotable mais aussi nos consommables et surtout représenter pour le concours #lescuistotsengagés 🤠 !! <br />
Un dernier petit effort pour démontrer la volonté de lutter contre l'anti-gaspi, l'inclusion des personnes les démunis et des bêtes de repas végétariens dans l'assiette 😋.<br /><br />
                        👉<a href='https://www.miimosa.com/fr/projects/la-1ere-cuisine-ambulante-labelisee-ecotable#description'> https://www.miimosa.com/.../la-1ere-cuisine-ambulante...</a>"
      >
      </app-photo-item>

      <app-photo-item
        slug="materiel-container"
        direction="right"
        imagePath="stockage-container.jpeg"
        date="05/10/2020"
        title="Logistique logistique"
        text="Après de nombreuse galère de stockage / logitique, Graille s'équipe d'un container pour stocker tous le matos !"
      >
      </app-photo-item>

      <app-vimeo-item slug="cuisine-2020-10-04" direction="left" viemoId="464809303" date="04/10/2020" title="" text="">
      </app-vimeo-item>

      <app-photo-item
        slug="materiel-omnium"
        direction="right"
        imagePath="omnium.jpeg"
        date="02/10/2020"
        title="Des repas livrés toujours plus vite !"
        text="Acquisition de ce nouveau petit bolide !"
      >
      </app-photo-item>

      <app-vimeo-item slug="cuisine-2020-09-07" direction="left" viemoId="462440386" date="27/09/2020" title="" text="">
      </app-vimeo-item>

      <app-photo-item
        slug="miimosa-lancement"
        direction="right"
        imagePath="miimosa-ecotable.jpeg"
        date="24/09/2020"
        title="Label Ecotable nous voila!"
        text="Cagnotte pour le label Écotable 🔥 ! <br/>
Il est temps de se faire sacré par des labels à hauteur de notre cuisine de malade anti-gaspi, végétarienne, inclusive et à objectif zéro déchet 💃🏻 !! <br/>
Participez à la labellisation Ecotable mais également à tout notre consommable qui nous permets de continuer à respecter l'assiette, la planète .. et le bénéficiaire ✊. <br/><br />
👉<a href='https://www.miimosa.com/fr/projects/la-1ere-cuisine-ambulante-labelisee-ecotable#description'> https://www.miimosa.com/.../la-1ere-cuisine-ambulante...</a>"
      >
      </app-photo-item>

      <app-vimeo-item slug="cuisine-2020-09-20" direction="left" viemoId="459970564" date="20/09/2020" title="" text="">
      </app-vimeo-item>

      <app-photo-item
        slug="materiel-tomate"
        direction="right"
        imagePath="cuillette-tomate.jpeg"
        date="19/09/2020"
        title="Tomate !!!!!!"
        text="<a href='https://www.youtube.com/channel/UCxcXSLBfdNp6boiG0OEUF3A'>Gael Blard agriculteur bio</a> propose des tomates bio à venir cuillir directement sur le champ. <br/> Ni une ni deux on arrive !!!!!"
      >
      </app-photo-item>

      <app-vimeo-item slug="cuisine-2020-09-13" direction="left" viemoId="457541413" date="13/09/2020" title="" text="">
      </app-vimeo-item>

      <app-vimeo-item
        id="cuisine-2020-09-06"
        slug="cuisine-2020-09-06"
        direction="right"
        viemoId="455305063"
        date="06/09/2020"
        title=""
        text=""
      >
      </app-vimeo-item>

      <app-photo-item
        slug="materiel-triporteur"
        direction="left"
        imagePath="triporteur.jpeg"
        date="02/09/2020"
        title="Triporteur"
        text="Nouveau joujou de Graille ! On va pouvoir livré les 150 repas en un éclaire !"
      >
      </app-photo-item>

      <app-vimeo-item
        slug="cuisine-2020-08-30"
        direction=" left"
        viemoId="453097571"
        date="30/08/2020"
        title=""
        text=""
      >
      </app-vimeo-item>

      <app-vimeo-item
        slug="cuisine-2020-08-23"
        direction="right"
        viemoId="450886047"
        date="23/08/2020"
        title=""
        text=""
      >
      </app-vimeo-item>

      <app-vimeo-item slug="cuisine-2020-08-09" direction="left" viemoId="446271872" date="09/08/2020" title="" text="">
      </app-vimeo-item>

      <app-vimeo-item
        slug="cuisine-2020-07-26"
        direction="right"
        viemoId="442190027"
        date="26/07/2020"
        title=""
        text=""
      >
      </app-vimeo-item>

      <app-vimeo-item slug="cuisine-2020-07-09" direction="left" viemoId="439909555" date="19/07/2020" title="" text="">
      </app-vimeo-item>

      <app-vimeo-item
        slug="cuisine-2020-07-12"
        direction="right"
        viemoId="438617212"
        date="12/07/2020"
        title="Deuxième cuisine"
        text="Un peu plus de matos mais encore plus d'énergie pour régaler les potos !"
      >
      </app-vimeo-item>

      <app-vimeo-item
        slug="cuisine-2020-06-28"
        direction="left"
        viemoId="438613789"
        date="28/06/2020"
        title="Première cuisine !"
        text=""
      >
      </app-vimeo-item>
    </div>
  </div>
</div>

<!-- Do not remove ! Vimeo player -->
<script src="https://player.vimeo.com/api/player.js"></script>
