<div
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-1/3 my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-3xl font-semibold">Partenaire</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="close()"
        >
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <form [formGroup]="partnerForm" (ngSubmit)="apply(partnerForm.value)">
        <div class="relative p-6 flex-auto">
          <label class="input-label" for="name"> Nom </label>
          <input class="input-text" id="name" type="text" formControlName="name" />

          <label class="input-label" for="description"> Description </label>
          <textarea class="input-text" id="description" formControlName="description"></textarea>

          <label class="input-label" for="logo"> Logo </label>
          <div class="flex flex-row justify-between items-center">
            <input
              type="file"
              id="logo"
              #partnerLogo
              (change)="onFileSelected($event)"
              name="logo"
              autocomplete="off"
            />
            <div
              class="image-cropper border border-primary p-1 mr-12"
              [style.background-image]="partnersService.getPartnerLogo(logo)"
            ></div>
          </div>

          <label class="input-label" for="link"> Site web </label>
          <input class="input-text" id="link" type="text" formControlName="link" />

          <label class="input-label" for="facebook"> Facebook </label>
          <input class="input-text" id="facebook" type="text" formControlName="facebook" />

          <label class="input-label" for="instagram"> Instagram </label>
          <input class="input-text" id="instagram" type="text" formControlName="instagram" />

          <label class="input-label" for="linkedin"> Linkedin </label>
          <input class="input-text" id="linkedin" type="text" formControlName="linkedin" />
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
          <button class="button-cancel" type="button" (click)="close()">Annuler</button>
          <button class="button-submit" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
