.image-cropper {
  width: 8rem;
  height: 8rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
