<div class="w-full object-cover header-bg text-center table">
    <div class="table-cell align-middle">
        <h1 class=" text-yellow-700 text-opacity-90 font-bold text-4xl mt-40">Graille</h1>
        <h2 class=" text-gray-200 text-opacity-75 font-medium text-3xl">Cuisine dans la rue pour la rue avec la rue
        </h2>

    </div>
</div>


<app-info-card class="flex flex-wrap justify-center "></app-info-card>

<img class="m-auto my-10" alt="graille en chiffre" src="assets/images/landing/chiffre.png">


<section class="container m-auto">
    <h2 class="text-center pb-4">Et tout ca grâce au soutient et don de nos partenaires !</h2>
    <div class="grid xl:grid-col-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1">
        <div class="m-auto mb-4">
            <img class="shadow rounded-full w-56 h-56 border border-primary p-1 mb-2"
                src="assets/images/logo-paumedepain.jpg" alt="" />
            <h4 class="text-center font-bold">Paume de pain</h4>
            <p class="text-center">Pain bio au levain naturel</p>
        </div>
        <div class="m-auto">
            <img class="shadow rounded-full w-56 h-56 border border-primary p-1 mb-2"
                src="assets/images/logo-eldoradoz.png" alt="" />
            <h4 class="text-center font-bold">ELDORA D'OZ</h4>
            <p class="text-center">L'épicerie vrac</p>
        </div>
        <div class="m-auto">
            <img class="shadow rounded-full w-56 h-56 border border-primary p-1 mb-2" src="assets/images/logo-agriz.jpg"
                alt="" />
            <h4 class="text-center font-bold">Agriz</h4>
            <p class="text-center">Producteurs engagés</p>
        </div>
        <div class="m-auto">
            <img class="shadow rounded-full w-56 h-56 border border-primary p-1 mb-2"
                src="assets/images/logo-eldoradoz.png" alt="" />
            <h4 class="text-center font-bold">ELDORA D'OZ</h4>
            <p class="text-center">L'épicerie vrac</p>
        </div>
        <div class="m-auto">
            <img class="shadow rounded-full w-56 h-56 border border-primary p-1 mb-2" src="assets/images/logo-agriz.jpg"
                alt="" />
            <h4 class="text-center font-bold">Agriz</h4>
            <p class="text-center">Producteurs engagés</p>
        </div>
    </div>
</section>