<div class="bg-gray-100">
    <div class="w-full object-cover header-bg table text-center ">
        <div class="table-cell align-middle">
            <h1 class=" text-yellow-700 text-opacity-90 font-bold text-4xl mt-40">Graille</h1>
            <h2 class="text-xl lg:text-3xl text-gray-200 text-opacity-75 font-medium">Cuisine ambulante anti-gaspi,
                végétarienne
                et
                solidaire au profit des sans abris
            </h2>
        </div>
    </div>

    <section class="p-2 ">
        <h2 class="text-xl uppercase text-center pb-4 text-primary">Qui sommes-nous ?</h2>
        <app-info-card class="flex flex-wrap justify-center "></app-info-card>
    </section>

    <section class="text-center mx-auto mt-4 py-4 w-3/5 border border-primary rounded-lg shadow-lg">
        <h2 class="text-xl lg:text-2xl uppercase text-center pb-4 text-primary">Tu veux soutenir une cause sociale et
            environnementale ?
        </h2>
        <p class="text-center text-lg text-gray-600">Offrir des bocaux, participer aux cuisines ou faire un don ?</p>
        <a href="https://linktr.ee/graillelyon" target="_blank">
            <button
                class="bg-primary hover:bg-gray-200 hover:text-primary text-white text-lg font-bold my-4 py-2 px-4 rounded">
                <i class="p-1 fas fa-hand-peace"></i>
                Je soutiens Graille !
                <i class="p-1 fas fa-hand-peace"></i>

            </button>
        </a>
        <p class="text-center text-lg text-gray-600"> Graille a besoin de vous pour régaler les potos de la rue
            avec des repas
            sains et équilibrés</p>
    </section>

    <section class="p-2">
        <img class="m-auto my-10" alt="graille en chiffre" src="assets/images/landing/chiffre.png">
    </section>


    <section class="container m-auto p-2">
        <h2 class="text-xl uppercase text-center pb-4 text-primary">Et tout ça grâce au soutien et aux dons de nos
            partenaires !
        </h2>
        <app-partner-card></app-partner-card>
    </section>
</div>