<div class="w-full object-cover header-bg table text-center ">
    <div class="table-cell align-middle">
        <h1 class=" text-yellow-700 text-opacity-90 font-bold text-4xl mt-40">Graille</h1>
        <h2 class=" text-gray-200 text-opacity-75 font-medium text-3xl">Cuisine ambulante anti-gaspi végétarienne et
            solidaire au profit des sans abris
        </h2>
    </div>
</div>

<section class="p-2">
    <h2 class="text-center pb-4 text-primary">Qui sommes nous ?</h2>
    <app-info-card class="flex flex-wrap justify-center "></app-info-card>
</section>


<section class="bg-gray-100 p-2">
    <img class="m-auto my-10" alt="graille en chiffre" src="assets/images/landing/chiffre.png">
</section>


<section class="container m-auto p-2">
    <h2 class="text-center pb-4 text-primary">Et tout ca grâce au soutient et don de nos partenaires !</h2>
    <app-partner-card></app-partner-card>
</section>