<div class="w-full flex flew-row justify-between mt-4">
  <button shareButton="facebook" [url]="url" [title]="title" [description]="description" [image]="image">
    <i class="fab fa-facebook-square"></i>
  </button>
  <button shareButton="twitter" [url]="url" [title]="title" [description]="description" [image]="image">
    <i class="fab fa-twitter-square"></i>
  </button>
  <button shareButton="linkedin" [url]="url" [title]="title" [description]="description" [image]="image">
    <i class="fab fa-linkedin"></i>
  </button>
  <button shareButton="pinterest" [url]="url" [title]="title" [description]="description" [image]="image">
    <i class="fab fa-pinterest-square"></i>
  </button>
  <button shareButton="email" [url]="url" [title]="title" [description]="description" [image]="image">
    <i class="fas fa-envelope-square"></i>
  </button>
</div>
