<div
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-full lg:w-2/3 my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-3xl font-semibold">Question</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="close()"
        >
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <form [formGroup]="faqForm" (ngSubmit)="apply(faqForm.value)">
        <div class="relative p-6 flex-auto">
          <label class="input-label" for="title"> Titre </label>
          <input class="input-text" id="title" type="text" formControlName="title" />

          <label class="input-label" for="text"> Text </label>
          <angular-editor formControlName="text" [config]="editorConfig"></angular-editor>

          <label class="input-label" for="titleIcon">
            Icone
            <i class="fas fa-info-circle tooltip">
              <div class="tooltip-text bg-blue-200 p-3 -mt-20 -ml-12 rounded">
                <p class="pb-1">
                  Les icones sont disponible
                  <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">ici </a>
                </p>
                <p class="pb-1">
                  Cherche un icône, clique dessus puis clique sur "Start using This icon" et copie le code fourni qui
                  ressemble à :
                </p>
                <pre><code>&lt;i class="fas fa-phone"&gt;&lt;/i&gt;</code></pre>
              </div>
            </i>
          </label>
          <input class="input-text" id="titleIcon" type="text" formControlName="titleIcon" />
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
          <button
            class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1"
            type="button"
            style="transition: all 0.15s ease"
            (click)="close()"
          >
            Annuler
          </button>
          <button
            class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
            type="submit"
            style="transition: all 0.15s ease"
          >
            {{ id === null ? 'Ajouter' : 'Modifier' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
