/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    height: 100%;
}


/**
* COLOR
*/
$primary: #c29a6a;

.bg-primary {
    background-color: $primary;
}

.border-primary{
    border-color: $primary;
}

.text-primary {
    color: $primary;
}



h2 {
    font-weight: 700;
    font-size: 2em;
}