<div class="container flex flex-col md:flex-row flex-grow">
  <div class="border-2 border-primary rounded shadow mx-4 mt-4 px-8 py-4">
    <h2 class="text-center uppercase pb-2">Le projet</h2>
    <p>Graille est née après le premier confinement, en juin 2020, suite à deux constats :</p>
    <ul>
      <li>- le confinement à encore plus isolé les personnes en grande précarité vivant dans la rue</li>
      <li>
        - alors que 5 millions de personnes n'arrive pas a se nourrir x% de la production alimientaire est gaspillé
      </li>
    </ul>
    <p>
      Et alors ? on fait quoi ? Et bien Graille intercepte les produits qui sont en direction de la poubelle et les
      cuisines afin de préparer des repas chaud, fais maison qui serons livré directement dans la rue.
    </p>

    <p>Projet open source => lien slack</p>
  </div>

  <!-- <div class="border-2 border-primary rounded shadow mx-4 mt-4 px-8 py-4">
    <h2 class="text-center uppercase pb-2">Notre ambitions</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident id neque minus placeat laudantium fugit
      laboriosam ipsum pariatur. Minima harum libero, ipsam explicabo dicta inventore at placeat eius repellat eveniet.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi harum odit nesciunt repellendus blanditiis alias
      maiores provident vitae.
    </p>
  </div> -->
</div>

<div class="container my-12">
  <div class="border-2 border-primary rounded shadow mx-4 mt-4 px-8 py-4">
    <h2 class="text-center uppercase pb-2">Nos valeurs</h2>
    <div
      class="grid lg:grid-cols-3 lg:grid-rows-1 lg:divide-x lg:divide-y-0 grid-cols-1 grid-rows-3 divide-y divide-gray-400 divide-dashed"
    >
      <div class="text-center p-4">
        <h3 class="uppercase semi-bold text-14 pb-4">Inclusion</h3>
        <p>
          A Graille, on se mélange ! Les cuistot.es sont avec ou sans abris, enfant ou adulte, amateur ou professionnel,
          nos temps de cuisine se veulent inclusifs et remplis de rencontres et d’échanges, le tout baigné dans la
          bienveillance.
        </p>
      </div>
      <div class="text-center p-4">
        <h3 class="uppercase semi-bold text-14 pb-4">Solidarité</h3>
        <p>
          Les plats sont préparés maison car c’est du love qu’on veut donner à nos bénéficiaires ! Au-delà d’un repas,
          c’est tisser du lien social avec les potos de la rue quand on leur amène le fameux bocal qui met bien.
        </p>
      </div>
      <div class="text-center p-4">
        <h3 class="uppercase semi-bold text-14 pb-4">Anti-Gaspi</h3>
        <p>
          Les produits de nos cuisines sont des invendus de commerçants locaux, zéro déchet, solidaires. Nous nous
          déplaçons pour les récupérer, que la contribution soit petite ou grande ! A la poubelle le plastique et le
          jetable, à Graille, on fait dans le compost et le réutilisable !
        </p>
      </div>
    </div>
  </div>
</div>
