<footer class="footer bg-primary relative pt-1">
  <div class="container mx-auto px-6">
    <div class="mt-8 sm:mt-2 sm:w-full sm:px-8 flex flex-col md:flex-row justify-center">
      <div class="flex flex-col mx-32">
        <span class="font-bold text-gray-200 uppercase mb-2">Réseaux sociaux</span>
        <span class="mt-2">
          <a target="_blank" href="https://www.instagram.com/graille_lyon" class="text-md">
            <i class="fab fa-instagram-square"></i>
            Instagram
          </a>
        </span>
        <span class="mt-2">
          <a target="_blank" href="https://www.facebook.com/graillesolidaire" class="text-md">
            <i class="fab fa-facebook-square"></i>
            Facebook
          </a>
        </span>
        <span class="mt-2">
          <a target="_blank" href="https://www.pinterest.fr/thebikeriser/graille-lyon/" class="text-md">
            <i class="fab fa-pinterest-square"></i>
            Pinterest
          </a>
        </span>
        <span class="mt-2">
          <a target="_blank" href="https://vimeo.com/user109086386" class="text-md">
            <i class="fab fa-vimeo-square"></i>
            Vimeo
          </a>
        </span>
      </div>
      <div class="flex flex-col mx-32">
        <span class="font-bold text-gray-100 uppercase mt-4 md:mt-0 mb-2">liens utiles</span>
        <span class="mt-2"><a routerLink="faq" class="text-md">FAQ</a></span>
        <span class="mt-2"
          ><a target="_blank" href="https://linktr.ee/graillelyon" class="text-md">Participer à Graille</a></span
        >
        <span class="mt-2"
          ><a
            target="_blank"
            href="https://www.helloasso.com/associations/rise-homeless-giving/formulaires/3"
            class="text-md"
            >Faire un don</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="mx-auto px-6">
    <div class="border-t-2 border-gray-300 flex flex-col items-center">
      <div class="sm:w-2/3 text-center py-2">
        <p class="text-sm text-gray-100 font-bold">© 2020 by Graille Lyon</p>
      </div>
    </div>
  </div>
</footer>
